@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
.godFather {
  height: 900px;
}
.parent {
  height: 350px;
  transition-duration: 1s;
  transition-delay: 30s;
}
.div1 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  transition-duration: 1s;
  transition-delay: 30s;
}
.h1Name {
  font-family: "Londrina Shadow", cursive;
}
.div2 {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 0;
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 30s;
}
.div3 {
  display: flex;
  text-align: justify;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  width: 80%;
  height: 30%;
}
div.godFather:hover div.div1 {
  height: 65%; /* change height on hover */
  transition: height 2s ease;
  transition-duration: 1s;
  transition-delay: 0s;
}
div.godFather:hover div.div2 {
  opacity: 1; /* change height on hover */
  transition: opacity 7s ease;
  transition-duration: 1s;
  transition-delay: 0s;
}

div.godFather:hover div.parent {
  height: 100%; /* change height on hover */
  transition: height 2s ease;
  transition-duration: 1s;
  transition-delay: 0s;
}
.div1Img {
  width: 100%;
  height: 100%;
}
/* .div1Img {

} */

/* .parent:hover {
  transition: height 6s ease;
  height: 500px;
} */

.buttonModal {
  background-color: none;
  display: block;
  position: absolute;
  right: 0;
}
