@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
button {
  color: white;
  height: 30px;
  border: 2px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid rgb(34, 41, 34);
  border-right: 1px solid rgb(34, 41, 34);
  background-color: rgb(94, 114, 94);
}
.parentGameList {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  position: relative;
  margin: auto;
  width: 50%;
  height: 85%;
  top: 50px;
  /* transition: box-shadow ease 10s;
  transition: width 2s, height 4s; */
}
/* .parentGameList:hover {
  box-shadow: 0 0 100px #000;
  position: relative;
  margin: auto;
  width: 51%;
  height: 90%;
  top: 50px;
} */

.gamesList {
  background-color: rgb(94, 114, 94);
  width: 100%;
}
table {
  border: 2px solid rgb(60, 73, 60);
  table-layout: fixed;
  margin: 0;
  display: inline-table;
  width: 100%;
}
.gamesList table {
  color: white;
}
.gamesList table thead tr th {
  position: sticky;
  top: 0;
  background-color: rgb(94, 114, 94);
  border: 2px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid rgb(34, 41, 34);
  border-right: 1px solid rgb(34, 41, 34);
}
.gamesList table thead tr th button {
  color: white;
  width: 100%;
  background-color: rgb(94, 114, 94);
  border-style: none;
}
.gamesList .gamesList table tbody {
  border: 2px solid rgb(60, 73, 60);
  background-color: rgb(58, 70, 58);
  height: 500px;
}
.gamesList .gamesList tbody tr td {
  width: 100%;
  text-align: center;
}
.gamesList tbody tr {
  border: 2px solid rgb(60, 73, 60);
  color: white;
  height: 10px;
  padding: 0;
}
/* .gamesList tbody tr td {
} */
.img-div {
  width: 100%;
  height: 300px;
}
.img-size {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.buttonDiv {
  border: 2px solid rgb(60, 73, 60);
  background-color: rgb(94, 114, 94);
  display: inline-block;
  width: 99.8%;
}
.img-h1 {
  font-family: "Londrina Shadow", cursive;
  position: fixed;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-align: justify;
  text-justify: inter-word;
  /* margin: auto; */
  /*
  left: 47%; */
}
